@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a; /* blue-900 */
  --color-primary-light: #3b82f6; /* blue-500 */
  --color-accent: #fbbf24; /* amber-400 */
  --color-accent-light: #fcd34d; /* amber-300 */
  --color-background: #f8fafc; /* slate-50 */
}

@layer base {
  body {
    @apply bg-background text-slate-800 antialiased font-sans;
  }
}
